<section class="sectionA">
    <div class="sectionA__description">
        <p class="sectionA__description--par">
            In 2020, the architect <a href="https://www.linkedin.com/in/laura-portillo-rodríguez" target="_blank"
                title="linkedin profile"><span class="link">Laurix Portillo</span></a> began
            to study a new mysterious
            language called Javascript. Her
            intention was none other than to be part of the famous K expedition and start her career as a
            developer.
        </p>
        <p class="sectionA__description--par">
            A mysterious encrypted message needed to be solved: a phrase and a series of numbers raised the
            suspicions of archaeologists. The secret url, would lead us to the solution of the mystery.
        </p>
        <p class="sectionA__description--par">
            After long nights of study, Laurix Portillo found the enigma! In this
            <a href=" https://github.com/lauraportillo/generacion-k" class="link" target="_blank"
                title="take a look!">repo</a>, you
            can
            access the secret scripts.
        </p>
    </div>
</section>