<section class="sectionC">
    <h3 class="sectionC__text animate__animated animate__pulse animate__infinite">Click the button to discover
        the secret url!</h3>

    <form class="sectionC__form">
        <button class="js-btn sectionC__form--btn1">url nekgikis v</button>
        <button class="js-reset sectionC__form--btn2">Reset</button>
    </form>

    <div class="sectionC__solution">
        <h3 class="js-hieroglyphs"></h3>
        <a href="https://v.generacionk.kairosds.com/" target="_blank" title="go to kairosds">
            <h3 class="js-solution  sectionC__solution--url"></h3>
        </a>
    </div>
</section>