<section class="sectionB">
    <div>
        <div class="hexagon"></div>
        <div class="hexagon__message">
            <div class="hexagon__message--clue">"Cómo será dar con Nekgikis V..."</div>
            <div class="hexagon__message--clue hexagon__message--space">23, 24, 25, 18, 19, 5, 6, 7, 20, 15, 17,
                8, 10, 11, 4, 3, 12, 2,
                16, 14, 9, 21, 0, 1, 13, 22
            </div>
            <div class="hexagon__message--clue"><span class="hexagon__message--detail">𓂀</span></div>
        </div>
    </div>
</section>