.containerFooter {
  @include flex();
  font-size: 16px;
  bottom: 0;
  @media all and (min-width: 768px) {
    font-size: 18px;
  }
  &__name:hover {
    color: $color-1;
    font-weight: bolder;
    transition: all 0.3s ease-in-out;
    transform: scale(1.2);
  }
}
