@import 'core/variables';
@import 'core/reset';

//HEADER
.header {
  margin-bottom: 20px;
  background-color: $color-6;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
}
.header__title {
  font-size: 24px;
  text-transform: uppercase;
  color: $color-1;
}
.header__subtitle {
  font-size: 12px;
  color: $color-7;
}

//MAIN
.containerMain {
  margin: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.sectionA {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 500px;
  margin-top: 20px;
}

.sectionA__description {
  font-size: 14px;
}
.sectionA__description--par {
  margin-bottom: 15px;
}
.link {
  color: $color-1;
  font-weight: bold;
  cursor: pointer;
}

.sectionB {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 170px;
  margin-bottom: 100px;
  transform: scale(1.5);
}
//tomb
.hexagon {
  width: 200px;
  height: 57.735px;
  background: $color-3;
  position: relative;
  transform: rotate(90deg);
  z-index: -1;
}
.hexagon::before {
  content: '';
  position: absolute;
  top: -28.8675px;
  left: 0;
  width: 0;
  height: 0;
  border-left: 50px solid transparent;
  border-right: 150px solid transparent;
  border-bottom: 28.8675px solid $color-3;
}
.hexagon::after {
  content: '';
  position: absolute;
  bottom: -28.8675px;
  left: 0;
  width: 0;
  height: 0;
  border-left: 50px solid transparent;
  border-right: 150px solid transparent;
  border-top: 28.8675px solid $color-3;
}
.hexagon__message {
  margin-top: -110px;
  font-size: 9px;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: $color-7;
}
.hexagon__message--space {
  margin-bottom: 10px;
}
.hexagon__message--detail {
  font-size: 35px;
}
.sectionC {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.sectionC__text {
  font-size: 14px;
  font-weight: bold;
  color: $color-1;
}
.sectionC__form {
  margin-top: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sectionC__form--btn1 {
  margin-right: 5px;
  padding: 10px 25px 10px 25px;
  border-radius: 10px;
  border: solid $color-3 1px;
  background-color: $color-3;
  text-align: center;
  font-size: 14px;
  text-transform: uppercase;
  color: $color-9;
  outline: inherit;
  cursor: pointer;
}
.sectionC__form--btn2 {
  margin-left: 5px;
  padding: 10px 22px 10px 22px;
  border-radius: 10px;
  border: solid $color-3 1px;
  background-color: $color-3;
  text-align: center;
  font-size: 14px;
  text-transform: uppercase;
  color: $color-9;
  outline: inherit;
  cursor: pointer;
}
.sectionC__form--btn1:hover,
.sectionC__form--btn2:hover {
  background-color: $color-1;
  border: solid $color-1 1px;
  color: $color-8;
  transition: all 0.2s ease-in-out;
}

.sectionC__solution {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 15px;
  border-radius: 10px;
  height: 50px;
  width: 250px;
  background-color: $color-1;
}

.sectionC__solution--hieroglyphs {
  font-size: 16px;
  color: $color-8;
  text-align: center;
}

.sectionC__solution--none {
  display: none;
}

.sectionC__solution--url {
  font-size: 16px;
  color: $color-8;
  text-align: center;
}
.sectionC__solution--url:hover {
  font-weight: bolder;
  transition: all 0.3s ease-in-out;
  transform: scale(1.2);
}
//FOOTER
.containerFooter {
  display: flex;
  flex-direction: column;
  align-items: center;
  bottom: 0;
}
.containerFooter__name:hover {
  color: $color-1;
  font-weight: bolder;
  transition: all 0.3s ease-in-out;
  transform: scale(1.2);
}
