@import 'core/variables';
@import 'core/reset';

.sectionA {
  display: flex;
}
.sectionA__containerImg {
  width: 1000px;
}
.sectionA__containerImg--photo {
  width: 100%;
}

.solution {
  color: orange;
}
